* {
    --main-color: #242424;
    --secondary-color: #202020;

    --separator-color: #949494;
    --border-color: #373737;
    --button-hover-color: #292929;

    --text-color: #fafafa;
    --link-color: #8af9d4;
    --link-hover-color: #5dd8f6;

    background-color: #101010;
    border-style: solid;
}

@font-face {
	font-family: "BrushScript";
	src: url(‘/fonts/brushscript.ttf’) format(‘truetype’);
}

header {
    background-color: var(--secondary-color);
}

#header-logo {
    background-color: inherit;
}

#header-logo img {
    border-color: white;
}

#header-title {
    background-color: inherit;
    border-right-color: var(--border-color);
}

#header-title h1 {
    background-color: inherit;
    color: var(--text-color);
    font-family: Brush Script MT, "BrushScript", Brush Script Std, cursive;
    text-decoration: underline;
    cursor: pointer;
}

#header-main {
    background-color: inherit;
}

.header-separator {
    background-color: inherit;
    border-color: var(--separator-color);
}

#header-menu {
    background-color: inherit;
    border-left-color: var(--border-color);
}

.header-link {
    text-decoration: none;
    color: var(--text-color);
    background-color: inherit;
    transition: all 0.2s ease-in-out;
}

.header-link:hover {
    background-color: var(--button-hover-color);
}

main {
    background: url("/img/loader.jpg") var(--main-color);
    background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

section {
    border-color: var(--border-color);
    background: transparent;
    backdrop-filter: blur(15px) brightness(0.1);
}

section h1 {
    border-bottom: solid var(--separator-color);
    font-family: Brush Script MT, "BrushScript", Brush Script Std, cursive;
    color: var(--text-color);
    background: transparent;
}

section h2 {
    border-bottom: solid var(--separator-color);
    font-family: Brush Script MT, "BrushScript", Brush Script Std, cursive;
    color: var(--text-color);
    background: transparent;
}

section p {
    color: var(--text-color);
    background: transparent;
}

section a {
    color: var(--link-color);
    background: transparent;
    text-decoration: none;
}

section a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}