/* This CSS file contains definitions about the positionning, shaping of the elements and alignement.
 * This also includes text formatting since it won't be dependent on the theme.
 * This file is included in the head of every non-error page.
 * We might want to split this file into multiple files (depending on the view) if it gets too big.
 */

* {
    border-width: 0px;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

    --main-separator-border: 0.1vw;
    --secondary-separator-border: 0.2vw;
}

.body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 10vw;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    display: flex;
    height: 8vw;
    width: 8vw;
    margin-left: 0.4vw;
    padding: 0.4vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#header-logo img {
    height: 7vw;
    width: auto;
    background-color: inherit;
    border-radius: 50%;
    border-width: var(--secondary-separator-border);
}

#header-title {
    display: flex;
    height: 8vw;
    width: 12vw;
    margin-right: 0.4vw;
    padding: 0.4vw;
    align-items: end;
    justify-content: center;
    border-right: var(--main-separator-border);
}

#header-title h1 {
    margin-right: 0.6vw;
    font-size: 3.4vw;
    font-weight: 300;
    transform: scaleY(1.4) rotate(-5deg) skewX(-5deg) translateY(-1.4vw); 
}

#header-main {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.header-link {
    margin: 0.4vw;
    text-align: center;
    width: 10vw;
    height: 6vw;
    border-radius: 1vw;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.header-link:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.header-separator {
    display: inline-flex;
    width: 0.6vw;
    height: 0.6vw;
    align-items: center;
    justify-content: space-around;
    border-width: var(--secondary-separator-border);
    border-radius: 50%;
}

#header-menu {
    display: flex;
    width: 10vw;
    height: 8vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    padding: 0.4vw;
    align-items: center;
    justify-content: space-around;
    border-left: var(--main-separator-border);
}

main {
    position: relative;
    top: 10vw;
    box-shadow: inset 0 0 5em 1em #000;
    display: flexbox;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 10vw);
    padding: 10px;
    align-items: center;
    justify-content: center;
}

section {
    width: calc(100% - 40px);
    height: 100%;
    margin: 20px;
    padding: 20px;
    border-width: var(--main-separator-border);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

section h1 {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: var(--secondary-separator-border);
    font-size: 4em;
    font-weight: 300;
}

section h2 {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: var(--secondary-separator-border);
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

section p {
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.2em;
    text-align: center;
}

section article {
    width: calc(100% - 40px);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

section a {
    text-align: center;
}

section hr {
    width: calc(100% - 40px);
    margin: 20px;
    border-bottom-width: var(--main-separator-border);
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

section form span {
    display: flex;
    width: 80%;
}

section form label {
    width: 30%;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}

section form input {
    width: 100%;
    height: 3em;
    margin: 10px;
    padding: 10px;
    border-width: var(--secondary-separator-border);
    border-radius: 10px;
    font-size: 1.2em;
    text-align: left;
}

section form textarea {
    width: 100%;
    height: 10em;
    margin: 10px;
    padding: 10px;
    border-width: var(--secondary-separator-border);
    border-radius: 10px;
    font-size: 1.2em;
    text-align: left;
}

section form input[type="file"] {
    text-align: center;
}

section form input[type="submit"] {
    width: 100%;
    height: 3em;
    margin: 10px;
    padding: 10px;
    border-width: var(--secondary-separator-border);
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    background-color: #f5f5f5;
}

section ul, section ol {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    list-style-position: inside;
}

section ul li, section ol li {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}